{% extends "publicsite/legal/base_legal.html" %}
{% load i18n %}

{% block title %}{% translate "Website Terms &amp; Conditions" %} &mdash; MyTreatPlan{% endblock %}
{% block meta_description %}{% translate "Terms governing access to and use of the MyTreatPlan website." %}{% endblock %}
{% block og_title %}{% translate "Website Terms &amp; Conditions" %}{% endblock %}
{% block og_description %}{% translate "Terms governing access to and use of the MyTreatPlan website." %}{% endblock %}

{% block legal_heading %}{% translate "Website Terms &amp; Conditions" %}{% endblock %}
